header {
    font-weight: bold;
}

body{
    width:640px;
}

hr {
    border-top: 1px dotted lightgray;
    width:100%;
}

form {

}

.fieldBlockOwnName {
    display: block;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.fieldBlockLastName {
    display: block;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.fieldBlock {
    display: flex;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.fieldBlock2 {
    display: flex;
    float: left;
    padding-right: 100px;
    padding-bottom: 10px;
}

.fieldBlock3 {
    display: flex;
    align-self: flex-end;
    float: bottom;
    margin-left: 120px;
}


input {
    border: 1px solid gray;
    font-size: 1.1em;
}

p {
    font-weight: bold;
}

.CityState {
    display: flex;
}

.City + .StateProRe{
    margin-left: 26px;
}

.GenderDate {
    display: flex;
}

.gender +date {
 margin-left:26px;
}




.codeAndCountry {
    display: flex;
}

.code + country {
    margin-left: 26px;
    margin-top: 20px;
}

.Number {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.home + work {
 margin-left: 24px;
}




